<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style>
        .login{
            text-align:center;
            padding: 235px;

        }
    </style>
</head>
<body>
{% load static %}
<div class="page" style="background-image: url({% static "images/login.png"%})">
    <div class="login">
        <form method="post" action="{% url 'user:login_action' %}">
            账号：<input name="email">{{ error_email }}<br>
            密码：<input name="password" type="password">{{ error_password }}<br>
            记住密码<input type="radio" name="remember" value="female"><br>
            <input type="submit" value="登录">
        </form>
        <a href="{% url 'user:register' %}">没有账号？点击注册</a>
    </div>
    </div>
</body>
</html>